<ngx-spinner> <h3>Pagando</h3> </ngx-spinner>

<p class="total" *ngIf="cartItems.length < 1">
  <span class="total-label">Carrito Vacio</span>
</p>

<div class="border">

  <div *ngIf="cartItems.length > 0">

    <div class="alert alert-info text-center">

      <h3>Carrrito</h3>

    </div>
    <div class="text-center">
      <ul class="list-group list-group-light">
        <li class="list-group-item border" *ngFor="let item of cartItems; index as i" aria-current="true">
          <div class="row">
            <div class="col-md-10">
              <app-cartitem [cartItem]="item"></app-cartitem>
            </div>
            <div class="col-md-2">
              <i class="fas fa-times fa-2x" (click)="deleteItem(i)"></i>
              <!-- <i class="fas fa-trash fa-2x" (click)="deleteItem(i)"></i> -->
            </div>

          </div>
        </li>
      </ul>



    </div>

    <br>

    <div class="alert alert-warning text-center">

      <strong>Total:</strong> {{total}} USD

    </div>

    <button class="btn btn-outline-danger btn-block mb-3" (click)="emptyCart()">
      <i class="fas fa-ban"></i> Vaciar Carro
    </button>

    <ngx-paypal [config]="payPalConfig"></ngx-paypal>

  </div>
</div>


<!-- <p class="title">Mi Carrito</p>

<p class="total" *ngIf="cartItems.length < 1">
  <span class="total-label">Carrito Vacio</span>
</p>

<app-cartitem *ngFor="let item of cartItems; index as i" [cartItem]="item" [index]="i">
</app-cartitem>

<p class="total">
  <span class="total-label">total:</span> {{ total | number: "1.2-2" }} €
</p>

<button class="mb-3" (click)="emptyCart()">
  <i class="fas fa-ban"></i> Vaciar Carro
</button>

<ngx-paypal [config]="payPalConfig"></ngx-paypal> -->

<!-- <button>Finalizar Pedido</button> -->
