
<ngx-spinner>
  <h3>Pagando</h3>
</ngx-spinner>
<div class="border">
<div *ngIf="cartItems.length < 1">

  <div class="alert alert-info text-center">

    <h4>Carrito Vacio</h4>

  </div>
</div>


<div *ngIf="cartItems.length > 0">

  <div class="alert alert-info text-center">

    <h3>Carrrito</h3>

  </div>
  <div class="text-center">
    <ul class="list-group list-group-light">
      <li class="list-group-item border" *ngFor="let item of cartItems; index as i" aria-current="true">
        <div class="row">
          <div class="col-md-10">

            <app-cartitem [cartItem]="item"></app-cartitem>
          </div>
          <div class="col-md-2">
           <i class="fas fa-trash fa-2x" (click)="deleteItem(i)"></i>

          </div>

        </div>
      </li>
    </ul>


  </div>

  <br>

  <div class="alert alert-warning text-center">

    <strong>Total:</strong> {{total}} USD

  </div>

  <button class="btn btn-outline-danger btn-block" (click)="emptyCart()">
    <i class="fas fa-ban"></i> Vaciar Carro

  </button> <br><br>

  <ngx-paypal [config]="payPalConfig"></ngx-paypal>

</div>
</div>
