<!-- <p> <strong> {{cartItem.productName}} </strong>
  <strong>({{cartItem.qty}}<span *ngIf="cartItem.qty > 1"> unidades)</span> <span *ngIf="cartItem.qty < 2">
      unidad)</span></strong>
  <strong> Total: {{cartItem.qty * cartItem.productPrice | number: '1.1-2'}} USD</strong>
</p> -->


<!-- <img [src]="cartItem?.imageUrL" [alt]="cartItem?.name" class="thumbnail" /> -->
<strong>({{cartItem.qty}}<span *ngIf="cartItem.qty > 1"> unds)</span> <span *ngIf="cartItem.qty < 2">
  und)</span></strong>

<div class="info">
  <span>{{ cartItem?.productName }}</span>
  <!-- <span class="info-price">&dollar; {{ cartItem?.price | number: "1.2-2" }} </span> -->
  <span class="info-price">&dollar; {{ cartItem.productPrice }} </span>
</div>

<!-- <button (click)="onDeleteClicked()"><i class="fas fa-times"></i></button> -->
