<p>home works!</p>


<h1 class="text-center">Blog</h1>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4 px-5">
  <div class="col">
    <div class="card">
      <iframe  height="300" src="https://www.youtube.com/embed/5qap5aO4i9A" title="lofi hip hop radio - beats to relax/study to" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Musica para Estudiar</h5>
        <p class="card-text">
          Un estudio publicado en el Journal of Neuroscience señala que aprender a tocar un instrumento en la infancia mejora el rendimiento cognitivo en diversos aspectos.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <iframe height="300" src="https://www.youtube.com/embed/Ed9eAEZVHiI" title="Study With Me Pomodoro 1.5 Horas | Con Temporizador, Descansos y Música de Fondo Lofi Chill" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       <div class="card-body">
        <h5 class="card-title">Metodo Pomodoro</h5>
        <p class="card-text">
          La técnica Pomodoro es un método para mejorar la administración del tiempo dedicado a una actividad. Fue creado por Francesco Cirillo a fines de la década de 1980.​
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <iframe  height="300" src="https://www.youtube.com/embed/elKTXEyL4ic" title="¿Qué necesitas para ser Frontend Developer?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <div class="card-body">
        <h5 class="card-title">Como ser un desarrollador frontend</h5>
        <p class="card-text">Un desarrollador front-end trabaja la interfaz de usuario desde el punto de vista del código, para que la interacción con el sistema sea posible.</p>
      </div>
    </div>
  </div>



</div>
