<div class="container-sm mt-5 px-5" style="max-width: 700px">

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-control">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="text" required />
    <mat-error *ngIf="email?.hasError('required')">
      Correo requerido
    </mat-error>
    <mat-error *ngIf="email?.hasError('email')">
      Correo no valido, por favor ingrese un correo valido
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-control">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" required />
    <mat-error *ngIf="password?.hasError('required')">
      Password requerida
    </mat-error>
  </mat-form-field>
  <div class="form-footer"> <br>
    <button [disabled]="form.invalid" mat-raised-button type="submit">
      Ingresar
    </button>
  </div>
</form>
</div>
