<header class="overflow-hidden pt-0">
  <section class="mb-10 overflow-hidden">

    <div class="px-4 py-5 px-md-5 text-center bg-image" style="
      background-image: url('https://cdn.pixabay.com/photo/2015/11/19/21/11/book-1052014_960_720.jpg');
      height: 500px;
      background-size: cover;
      background-position: 50% 50%;">

      <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10">
              <div class="text-white pb-5">

                <h1 class="my-md-5 mb-4 px-5 display-3 fw-bold ls-tight">
                  <span>Unete a la comunidad</span> <br> <span>de Cours-App</span>
                </h1>
                <a class="btn  btn-outline-light btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 me-md-2" href="/login"
                  role="button">Ingresar</a>
                <a class="btn  btn-link btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 text-white"
                  style="background-color: transparent" href="/signup" role="button">Registrarme</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style=" height: 30px; margin-top: -30px; transform: scale(2); transform-origin: top center; color: #fff; ">
      <svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
        <path d="M 0 48 L 1437.5 48 L 2880 48 L 2880 0 L 2160 0 C 1453.324 60.118 726.013 4.51 720 0 L 0 0 L 0 48 Z"
          fill="currentColor">
        </path>
      </svg>
    </div>

  </section>
</header>

<section class="container mt-5 mb-10">
  <section>

    <h2 class="fw-bold mb-5 text-center">Porque somos los mejores?</h2>

    <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
        <img
        src="../../assets/img/mockup1.png"
        class="w-100 shadow-4-strong rounded-4 mb-4" alt="">
      </div>

      <div class="col-md-6 mb-4 mb-md-0">
        <h3 class="fw-bold">Vive una aventura</h3>

        <div class="mb-2 text-primary small">
          <i class="fas fa-users me-2"></i>
          <span>Adventure</span>
        </div>

        <p class="text-muted">Esta Web es una de las más completas para aprender a programar con una lista llena de cursos activos.
          Cuando empieces un curso te pondrá el porcentaje que lleves completado para que te hagas una idea, para avanzar a tu ritmo.
           Una de las apps más importantes para aprender a programar, está repleta de cursos de diferentes lenguajes de programación que
           van de más básicos a incluso Inteligencia Artificial.
           contamos con los mejores profesores, para que comiences la aventura de desarrollar tus ideas. </p>
        <a class="btn btn-primary" href="#" role="button">Loguearme</a>

      </div>
    </div>

    <div class="row gx-lg-5 mb-5 align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
        <img
          src="../../assets/img/mockup2.png"
          class="w-100 shadow-4-strong rounded-4 mb-4" alt="">
      </div>

      <div class="col-md-6 mb-4 mb-md-0">
        <h3 class="fw-bold">Tomate tu Tiempo</h3>

        <div class="mb-2 text-warning small">
          <i class="fas fa-users me-2"></i>
          <span>Time</span>
        </div>

        <p class="text-muted">A tu Ritmo,
          Algunas plataformas ofrecen becas para aprender a programar desde cero.
           No tienes que pasar por todos los cursos o programas de la lista, mejor elige un puñado de los que te parezcan más emocionantes
           y ponte manos a la obra. Cada uno se comunica distinto. Cada tipo de software de programación funciona con un lenguaje específico, algunos incluso con el mismo,
          lo que hace que una de las funcionalidades básicas de todo software de programación que se aprecie sea el framework donde se implementará y desarrollará el código.</p> <a
          class="btn  btn-primary" href="#" role="button">loguearme</a>
      </div>
    </div>

  </section>
</section>
<div style="background-color: black; padding: 6px;">

<section class="container mt-5 mb-10 text-white">
  <div>
    <div class="d-flex justify-content-center">
      <div class="text-center" style="max-width: 700px">

        <h2 class="fw-bold mb-4">Nuestras Virtudes</h2>
        <p class="text-muted mb-5">Conoce nuestros 8 pilares, en los cuales se basan los cursos y los metodos que usamos</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="d-flex align-items-start">
          <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
          <div class="flex-grow-1 ms-3">
            <p class="fw-bold mb-1">Soporte
              24/7</p>
            <p class="text-muted mb-0">
              Tienes medios de comunicacion abiertos las 24 horas del dia.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="d-flex align-items-start">
          <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
          <div class="flex-grow-1 ms-3">
            <p class="fw-bold mb-1">A tu Ritmo
            </p>
            <p class="text-muted mb-0">Solo tu conoces tu tiempo, a si que crece a ese ritmo.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="d-flex align-items-start">
          <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
          <div class="flex-grow-1 ms-3">
            <p class="fw-bold mb-1">Estadisticas
            </p>
            <p class="text-muted mb-0">
              Puedes conocer datos reales, sobre los cursos y tus progresos, incluso sugerencias a tu nivel.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="d-flex align-items-start">
          <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
          <div class="flex-grow-1 ms-3">
            <p class="fw-bold mb-1">Foco
            </p>
            <p class="text-muted mb-0">
              Cursos de calidad, donde la informacion este debidamente concentrada.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="d-flex align-items-start">
          <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
          <div class="flex-grow-1 ms-3">
            <p class="fw-bold mb-1">Comunidad de Desarrollo</p>
            <p class="text-muted mb-0">
              Nuestra comunidad tiene 1000+ de programadores en interaccion continua.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="d-flex align-items-start">
          <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
          <div class="flex-grow-1 ms-3">
            <p class="fw-bold mb-1">Facil de usar</p>
            <p class="text-muted mb-0">Interactua y compra, asi de sencillo.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="d-flex align-items-start">
          <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
          <div class="flex-grow-1 ms-3">
            <p class="fw-bold mb-1">Actualizacion</p>
            <p class="text-muted mb-0">Nade de aprender sin hacer, nuestros cursos se actualizan con la mejor educacion.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="d-flex align-items-start">
          <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
          <div class="flex-grow-1 ms-3">
            <p class="fw-bold mb-1">
              Escuchar</p>
            <p class="text-muted mb-0">El cliente siempre tiene la razon.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<section class="container mt-5 mb-10">
  <section>
    <style>
      @media (min-width: 992px) {
        #cta-img-nml-50 {
          margin-left: 50px;
        }
      }
    </style>
    <div class="row gx-0">
      <div class="col-lg-5 mb-4 mb-md-0">
        <div class="d-flex py-md-5"> <img src="../../assets/img/sorpresa.png"
            class="w-100 rounded-5 shadow-3-strong" id="cta-img-nml-50" style="z-index: 10" alt=""
            data-builder-edit="image" data-builder-name="image1" aria-controls="#picker-editor"> </div>
      </div>
      <div class="col-lg-7 mb-4 mb-md-0">
        <div class="h-100 rounded-6 p-4 ps-lg-5 text-dark d-flex align-items-center" style="background-color: #BBDEFB;">
          <div class="ps-lg-5">
            <h2 class="fw-bold mb-4" data-builder-edit="text" data-builder-name="text1" contenteditable="true">Dejate Sorprender</h2>
            <p class="" data-builder-edit="text" data-builder-name="text2" contenteditable="true">Como has podido ver, el mundo de las apps nuevamente intenta ayudarte en tu día a día,
               esta vez a aprender a programar para obtener un mejor trabajo.
               ¿Te animas a aprender a programar? Hay muchas maneras de aprender a programar y las aplicaciones son una de ellas.
               </p>
            <div class="row mb-2">
              <div class="col-lg-4">
                <p><i class="fas fa-check-circle me-2"></i><span data-builder-edit="text" data-builder-name="text3"
                    contenteditable="true">El mejor Equipo</span></p>
              </div>
              <div class="col-lg-4">
                <p><i class="fas fa-check-circle me-2"></i><span data-builder-edit="text" data-builder-name="text4"
                    contenteditable="true">la mejor Calidad</span></p>
              </div>
              <div class="col-lg-4">
                <p> <i class="fas fa-check-circle me-2"></i><span data-builder-edit="text" data-builder-name="text5"
                    contenteditable="true">La mejor Experiencia</span> </p>
              </div>
            </div>
            <p data-builder-edit="text" data-builder-name="text6" contenteditable="true">Incluso si vas a clase de programación o tienes alguna asignatura en tus estudios que se basen en ella,
              las app te pueden ayudar ya que complementan tu formación.
              Aprender a programar no tiene por que ser un suplicio, hay muchas aplicaciones que te van a ayudar a conseguirlo. Si buscas app para aprender a programar, echa un vistazo.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="container mt-5 mb-10">
  <section class="mb-10 text-center text-lg-start">

    <div class="px-4 py-5 px-md-5">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h2 class="my-5 display-5 fw-bold ls-tight">
            <span>Estas Listo</span> <br> <span class="text-success">Para la aventura?</span>
          </h2>
          <a class="btn btn-info btn-lg py-3 px-5 mb-2 me-2" href="#" role="button">Registrarme</a>
          <a class="btn btn-link text-success btn-lg py-3 px-5 mb-2 me-2" data-ripple-color="success" href="#"
            role="button">Learn more</a>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0"> <img
            src="https://cdn.pixabay.com/photo/2016/03/27/19/32/book-1283865_960_720.jpg"
            class="w-100 rounded-4 shadow-5" alt="">
        </div>
      </div>
    </div>

  </section>
</section>

<app-footer></app-footer>
